nav {
    background: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px; 
    img.logo {
        width: 5rem; 
    }
}