@import '../node_modules/bootstrap/scss/bootstrap.scss';
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
body {
    display: flex;
    flex-direction: column;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  color: #777777; }

h1, h2, h4, h4, h5 {
  font-weight: 300; }

a:hover {
  text-decoration: none; }

.pt-6 {
  padding-top: 8rem; }

.pb-6 {
  padding-bottom: 8rem; }

.btn-blue, section.projects .card .card-body .btn {
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #2b88d9;
  display: inline-block;
  cursor: pointer;
  color: #2b88d9;
  padding: 0.5rem 2rem;
  text-decoration: none; }
  .btn-blue:hover, section.projects .card .card-body .btn:hover {
    background-color: #2b88d9;
    text-decoration: none;
    color: white;
    transition: 0.25s; }

.btn-white {
  background-color: transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 0.5rem 2rem;
  text-decoration: none; }
  .btn-white:hover {
    background-color: white;
    text-decoration: none;
    color: #2b88d9;
    transition: 0.25s; }

.text-blue {
  color: #2b88d9; }